:host {
}

ag-grid-angular {
  flex: 1 1;
  width: 100%;
  display: flex;
}

.info {
  flex: 0 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    border-left: 2px solid #B9D8D6;
    border-top: 2px solid #B9D8D6;
    border-right: 2px solid #B9D8D6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px 3px 3px 15px;
    font-size: 13px;
}

.grid {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}