<span *ngIf="!schema">Loading schema... <app-spinner position="fixed"></app-spinner></span>
<ng-container *ngIf="schema">
  <h4>Tables</h4>
  <div *ngFor="let table of schema" class="table-section" (click)="table.isCollapsed = !table.isCollapsed">
    <span class="table-name"><span>{{table.isCollapsed ? '+' : '-'}}</span>{{table.name}}</span>
    <br />
    <em class="columns-label" [ngbCollapse]="table.isCollapsed">Rows: {{table.rowCount | number}}</em>
    <br [ngbCollapse]="table.isCollapsed" />
    <em class="columns-label" [ngbCollapse]="table.isCollapsed">Columns:</em>
    <ul [ngbCollapse]="table.isCollapsed">
      <li *ngFor="let column of table.columns">
        {{column.name}} <span class="column-type">{{column.type}}</span> <span class="column-type" *ngIf="column.primaryKey">(PK)</span>
      </li>
    </ul>
  </div>
</ng-container>
