:host {
  font-size: 12px;
  margin-left: 10px;
}

.table-section {
  border: 1px solid #B9D8D6;
  border-radius: 5px;
  margin-bottom: 3px;
  padding-left: 10px;
}

.table-name {
  font-size: 14px;
  font-weight: bold;
}

.columns-label {
  margin-left: 10px;
}

.column-type {
  font-style: italic;
  color: gray;
}
