<ngb-tabset *ngIf="data" (tabChange)="onTabChange($event)" [activeId]="activeTabId">
  <ngb-tab *ngFor="let d of data" [id]="d.title">
    <ng-template ngbTabTitle>
      <span class="edit-button" (click)="editTitle(d, modalContent)" *ngIf="activeTabId === d.title">&#9998;</span>
      {{d.title}}
      <span class="close-button" (click)="closeTab(d, $event)">x</span></ng-template>
    <ng-template ngbTabContent>
      <ngx-codemirror [ngModel]="d.text" (ngModelChange)="textChange(d, $event)" [options]="codemirrorOptions"></ngx-codemirror>
    </ng-template>
  </ngb-tab>
  <ngb-tab disabled="true">
    <ng-template ngbTabTitle><a class="plus-link" (click)="addTab()">+</a></ng-template>
  </ngb-tab>
</ngb-tabset>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Tab Title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input class="form-control" type="text" [(ngModel)]="editingTitle" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(editingTitle)">Save</button>
  </div>
</ng-template>